/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 13, 2014, 10:32:08 AM
    Author     : bgarcia
*/

.table {
	/* here is some css that will make your floated table headers have a 10px gap */
	margin-top: 10px !important;
	width: 100%;
	border-collapse: collapse;
}

.table td {
	padding: 5px;
	border: solid 1px #C1DAD7;
}

table.floatThead-table {
	/* and here is how you would fix that issue */
	margin-top: 0px !important;
}

td.report-head-info-box {
    height: 98px;
    max-height: 124px;
    min-width: 300px;
    width: 100%;
}

td.report-head-info-box table {
    min-width: 300px;
    min-height: 98px;
    max-height: 124px;
    width: 100%;
}

td.report-head-info-box table tr{
    vertical-align: bottom;
}

td.report-head-img-box {
    min-height: 98px;
    width: 480px; 
    background-image: url('../images/reportingtitlereport.gif');
    background-repeat: no-repeat;
}

td.report-head-img-box a {
    border: none;
    outline: none;
    -moz-outline-style: none;
}

.report-head-img {
    width: 480px;
    height: 98px;
    border: none;
}

tr.rtitle td{
	padding: 0px;
	margin: 0px;
	margin-left: 20px;
	background: white;
	text-align:left;
	font-size: 2em;
	float: left;
}

table.rep-res thead tr th div {
    width: 100%;
    min-width: 22px;
    align: center;
    margin: 0px;
    padding: 0px;
}

table.rep-res thead tr th div a {
    border: none;
}

table.rep-res tbody tr{
	border-width: 1px;
}

table.rep-res tbody tr:nth-of-type(odd){
	background: #f5f8fb;
	color: #4b6772;
}

table.rep-res tbody tr td{
	background: inherit;
	color: inherit;
	border-width: 1px;
}

td.flagged {
	background:#738291;
	width: 20px;
}

td.overriden {
	background:#a9c0d8;
	width: 20px;
}

td.merged {
	background:#d8d5da;
	width: 20px;
}

td.l1 {
	background:#e9e33c;
	width: 20px;
}

td.l2 {
	background:#e9913c;
	width: 20px;
}

td.l3 {
	background:#e93c3c;
	width: 20px;
}

th {
	text-align: left;
	border: solid 1px #ccc;
	background: #efefef;
	padding: 5px;
    vertical-align: bottom;
    font-weight: normal;
}

div.param {
    float:left;
    margin-bottom: 5px;
}

.table.rep-res thead tr th div a img {
	float: left;
    margin-right: 1px;
    margin-top: 5px;
}

#main-title {
    background: #EEE;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

table.noborder {
	padding: 15px;
}

td.noborder {
	padding: 0;
}

body {
	margin-top: 10px;
}
