html {
	height: 100%;
	margin: 0;
	padding: 0
}

body {
	height: 100%;
	text-decoration: none;
	color: #666;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 30;
	background: #E7E8E8;
	margin: 0;
	margin-top: 25px;
	padding: 0;
	text-align: center;
	background: #E7E8E8 url(../images/bg-gray-texture.jpg) repeat top left;
	-webkit-font-smoothing: antialiased;
}

label{
	float: left;
	width: 200px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 20px;
	text-align: right;
}

input, select, multiple, textarea{
	width: 280px;
	margin-bottom: 5px;
	color: #3D545D;
}


textarea{
	width: 250px;
	height: 150px;
}

.boxes{
	width: 1em;
}

ul {
padding-left: 0;
margin-left: 0;
text-align: left;
}

#resetbutton{
	margin-top: 5px;
	margin-left: 30px;
	width: 90px;
}

#submitbutton{
	margin-top: 5px;
	margin-left: 240px;
	width: 90px;
}

br{
	clear: left;
}

img{
padding:0px;
margin:0px;
}

table{
	border-color: #94a9be ;
	border-width: 1px;
	border-style: solid;
	margin:0px;
	padding:0px;
}

table.data{
	width:100%;
}

table.noborder{
border-width:0px;
border-spacing:0px;
padding:0px;
margin:0px;
}

td {
background: #fff;
padding: 1px;
color: #3D545D;
}

td.fullborder {
background: white;
margin: 0px;
padding: 5px 5px 20px;
color: #3D545D;
border-spacing:0px;
}

td.noborder{
border-width:0px;
border-spacing:0px;
padding: 15px;
margin:0px;
border-collapse: collapse;
}

td.shadednoborder{
border-width:0px;
border-spacing:0px;
padding:0px;
margin:0px;
border-collapse: collapse;
background: white;
}

td.old {
left: expression((offsetParent.scrollTop == 0) ? 0+"px" : -1+"px");
color: #6D929B;
color: #B4AA9D;
}

th {
border-right: 1px solid #C1DAD7;
border-bottom: 1px solid #C1DAD7;
background: #f5f8fb;
padding: 1px;
font-weight: heavy;
color: #3D545D;
text-align:center;
align:center;
}

td.alt {
background: #f5f8fb;
color: #4b6772;
}

td.head {
background: white;
color: #4b6772 ;
font-size: 9pt;
border-width:0px;
border-spacing:0px;
padding:0px;
margin:0px;
border-collapse: collapse;
}

td.sum {
border-top: 1px solid #C1DAD7;
background: #F5FAFA;
color: #0d3d6e;
font-weight: bold;
}

td.usageFlagged {background:#738291;height:50px;}
td.usageOverriden {background:#a9c0d8;height:50px;}
td.usageMerged {background:#d8d5da;height:50px;}
td.levelOne {background:#e9e33c;}
td.levelTwo {background:#e9913c;}
td.levelThree {background:#e93c3c;}

form {
margin: 0;
padding: 0;
font-size: 100%;
}

#report-title-form {
	line-height: 25px;
}

a{color:#3D545D; text-decoration:none;}
a:link:hover{border-bottom:1px dotted #4b6772;}

a:hover				{border:none;}

a.headLink{
color: white;
}

select option { color: #3D545D; font-family: "arial"; font-size: 8pt; font-weight: medium; }
.optionStyle { color: #3D545D; font-family: "arial"; font-size: 8pt; font-weight: medium; }

#report-name {
	font-size: 16px;
}

.key-text {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	border: solid 1px #D4D4D4;
}

#no-adjustment {
	margin-bottom: 20px;
}

/*--- Align Text When No Documents Fit the Query ---*/

div#searchResults > i {
		font-size: 18px;
		position: relative;
		top: 20px;
		left: 20px;
}

/*--- Submit/Reset Buttons ---*/

.fullborder {
	text-align: center;
}

.fullborder .optionStyle {
	float: left;
}

.fullborder input#submitbutton {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

.fullborder input#submitbutton:hover {
	cursor: pointer;
}

.fullborder input#resetbutton {
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: #1b76a9;
	border: none;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-left: 5px;
}

.fullborder input#resetbutton:hover {
	cursor: pointer;
}

div#div_parm_1,
div#div_parm_5,
div#div_parm_8,
div#div_parm_10,
div#div_parm_12,
div#div_parm_16 {
	margin-top: 18px;
}

#help-span a {
    text-decoration: none;
    font-size: 12px;
}

#help-span a:hover {
    color: #ccc;
}

#help-span a:link:hover {
	border: none;
}

#help-span a:before {
    font-family: FontAwesome;
    content: "\f059";
    font-size: 11px;
    margin-right: 3px;
}

/*--- Adjustments for Language Dropdown ---*/

select#lang {
    border: none;
    margin-left: 6px;
    background-color: #fff;
    width: auto;
}

/*--- Consistentcy for Form Buttons ---*/

.submit-button,
.cancel-button,
.save-button
 {
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    font-weight: normal;
    background: #1b76a9;
    border: none;
    padding: 5px 10px;
    text-transform: capitalize;
    margin-left: 5px;
    min-width: 60px;
}

.submit-button:hover,
.cancel-button:hover,
.save-button {
    cursor: pointer;
}

span#setLanguage {
	float: right;
}

/*--- New Top Bar Titles ---*/

#main-title {
    font-size: 36px;
    color: #6098A7;
    font-family: "Open Sans";
    font-weight: 100;
    float: left;
}

#main-title span {
	float: left;
}

#main-title-text {
    margin-left: 15px;
}

#powered-by-text img {
    vertical-align: text-bottom;
    margin-left: 7px;
    float: none;
}

#powered-by-text {
    color: #687FA1;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 10px;
}

#main-title > img {
    margin-left: 15px;
    float: left !important;
}

#title-td {
	background: none;
}

#TB_window {
	max-height: 75vh !important;
	max-width: 100vw !important;
	overflow-y: auto !important;
	top: 5vh !important;
	margin-top: 0px !important;
}