<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"

	bootstrap="directory.php"

	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"

	colors="true"
	verbose="true"
	printerClass="PHPUnit_Util_Log_TAP"
	>
</phpunit>
