table{
border-color: black;
border-width: 1px;
border-style: solid;
}

table.noborder{
border-width:0px;
padding:0px;
margin:0px;
}

td {
border-width: 1px;
color: black;
}

td.noborder{
border-width:0px;
padding:0px;
margin:0px;
}
td.sum{
border-width: 1px;
color: black;
font-weight: bold;
}

th {
border-width: 1px;
color: black;
font-weight: heavy;
}

html, body {
text-decoration: none;
font-family: "sans-serif";
font-size:7px;
margin: 0px;
}

* {
size: landscape;
}


td.usageFlagged {background:#f1f0c2;}
td.usageOverriden {background:#f1e4c2;}
td.usageMerged {background:#d8d5da;}

